* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    /* font-family: 'Inter'; */
    font-family: 'Inter', sans-serif;
}

body {
    /* font-family: 'Inter'; */
    font-family: 'Inter', sans-serif;
}

.container {
    width: 60%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: 20vh auto;
    background-color: aqua;
}

.select-color {
    display: flex;
    justify-content: space-evenly;
    height: 3em;
    align-items: center;
}

.btn {
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    background-color: #fff;
}

.dropdown {
    /* width: 312px; */
    width: 20em;
    display: flex;
    justify-content: space-between;
    padding: .5em;
    font-size: 1em;
    text-transform: capitalize;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.submit-btn {
    padding: .75em;
    /* height: 42px; */
}

.scheme-dropdown {
}

.bar-results {
    display: flex;
    justify-content: space-evenly;
}

.hex-results {
    /* width: 25%; */
    display: flex;
    justify-content: space-around;

}

.result-color {
    width: 25%;
    border: 1px solid seagreen;
}

.bar {
    height: 25vh;
    background-color: antiquewhite;
}

.hex {
    background-color: bisque;
    text-align: center;
    padding: .5em 0;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 500;
    font-size: .75em;
}